<div class="container" id="dick">
    <div class="points">
        <div>{{article.title}}</div>
        <div>0</div>
        <div>points</div>
    </div>
    <div class="details">
        <div>
            <a href="{{article.link}}">{{article.title}}</a>
             <div>"{{article.link}}"</div>
        </div>
        <div class="vote">          
            <div (click)= "vote_up()" class="up">like</div>
            <div (click)= "vote_down()"class="dow">dislike</div>
            <div class="delete"> delete</div>

            
        </div>

    </div>
</div>