.container{
    margin: 0 auto;
    width: 18rem;
    display: flex;
}
.points{
    aspect-ratio: 1/0.7;
    background-color: orange;
    border-radius: 0.2rem;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    flex: 0.8;
}
.details{
    flex: 1;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.9rem;
}
.vote{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.up{
    background-color: greenyellow;
    font-size: 20px;
    font-family: serif;
}
.dow{
    background-color:blue;
    font-size: 20px;
    font-family: serif;
    
}
.delete{
    background-color: red;
    font-size: 20px;
    font-family: serif;
    justify-content: space-between;
}
.details{
    background-color: wheat;
    width: 50%;
    height: 10vh;
    
}