<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Document</title>
</head>
<body>
  <div class="navbar">
    <h1><strong>Quote Maker</strong></h1>
    <h2 class="about">about us</h2>
    <h5><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Blanditiis nihil illo suscipit officia quaerat. Nisi obcaecati
       exercitationem, debitis provident omnis soluta, rem esse, 
      alias vitae quaerat error est dicta. Laboriosam?
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio, 
    repudiandae autem eligendi, 
     quos inventore consequatur nihil accusamus saepe error pariatur
      aspernatur architecto fugiat repellendus, quidem aperiam natus dolore blanditiis?</p></h5>
      <h2 class="contact">contact us</h2>
      <h5><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas quam tempora debitis, quo architecto voluptatum necessitatibus, facere nostrum molestiae dignissimos magnam ut, 
        perferendis ad nesciunt provident at eaque odio tempore.</p></h5>
        

    
  </div>
  <div class="box">
    <h2 class="create"><strong>Create your Qoute</strong></h2>
  </div>
  <div class="deco">
    <div class="container">
      <h3><strong><em>Add Quote...</em></strong></h3>
      <div class="title-container">
        <label class="lab" for="title">Author's name:</label>
        <input type="Quote" id="title" #title>
        <div class="link-container">
          <label class="lab" for="link">Quote:</label>
          <input type="text" id="link" #link> 
        </div>
        <div class="email-container">
          <label class="lab" for="link">Email:</label>
          <input type="text" id="email"> 
        </div>
        <button class="submit-btn" (click)="add_article(title, link)">create quote</button>
  
      </div>
    </div>

  </div>
  
</body>
<!--article component-->
<div>
  <app-article *ngFor="let article of articles"></app-article>
</div>
</html>
